.post-card__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}

.info__subtitle {
  text-transform: uppercase;
  color: #9e9e9e;
}

.info-subtitle--white {
  color: #ffffff;
}

.info__subtitle--light {
  color: #cccccc;
}

.info__subtitle--little {
  padding-bottom: 0.4em;
}

.post-img__text {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 40px;
  margin: 0 1em;
}

.post-card__title--white {
  color: #ffffff;
}
