@import '~antd/dist/antd.css';

/* CUSTOM STYLES */

.menu-main {
    display: flex;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.3);
}

.menu-main__logo {
    flex-grow: 1;
}

.menu-main__items {
    display: flex;
    line-height: 64px;
    flex-grow: 15;
}

.menu-main__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menu-main__left-items {
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.menu-main__left-items--username {
    color: rgba(255, 255, 255, 0.8);
}

.menu-main__left-items--search {
    width: 150px;
    color: #553194;
}

.menu-main__left-items--search:hover {
    color: #553194;
    border-color: #553194;
}

.menu-main__divider {
    width: 1px;
    height: 30px;
    margin: 6px;
    background: rgba(255, 255, 255, 0.5);
}

.menu-main__dropdown {
    margin-left: 15%;
}

.menu-main__dropdown-icon {
    margin-right: 15px;
}

.menu-main__links {
    text-decoration: none;
    color: #ffffff !important;
    transition: all .3s ease-in;
}

.menu-main__links:hover {
    color: #ffeeda;
    transition: all .3s ease-in;
}

.menu-main__links--dark {
    color: #444444 !important;
}

.menu-main__links--dark:hover {
    color: #0f0f0f !important;
}

.menu-main__links--light {
    color: #444444 !important;
}

.menu-main__links--light:hover {
    color: #ffeeda !important;
}

/* OVERRIDING ANT STYLES */

input[type="text"] {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .3s ease-in;
}

.ant-menu,
.ant-menu-light,
.ant-menu-root,
.ant-menu-horizontal {
    line-height: 62px;
}

.ant-menu-horizontal > .ant-menu-item:first-child {
    border-bottom: none;
}

.ant-menu-submenu-open {
    color: #000000;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active, .ant-menu-submenu-title:hover,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
    background-color: #553194;
    color: #ffeeda;
    border-bottom: 1px solid #ffeeda;
    transition: all .3s ease-in;
}

.submenu-item {
    color: #444444;
}

.ant-layout-header,
.ant-menu {
    background-color: #673ab7;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* search input */

input.ant-input,
input.ant-input:focus,
input.ant-input:active,
input.ant-input:visited {
    border: none;
    border-radius: 0 !important;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-input-affix-wrapper .ant-input:not(:last-child):focus,
.ant-input-affix-wrapper .ant-input:not(:last-child):active,
.ant-input-affix-wrapper .ant-input:not(:last-child):visited {
  border-radius: none;
  outline: 0;
  border: 0;
  border-color: transparent !important;
  box-shadow: none;
}

/* MEDIA QUERIES */

@media (max-width: 850px) { 
    .menu-main__search,
    .menu-main__divider {
        display: none;
    }
}

@media (max-width: 670px) {
    .menu-main__avatar,
    .menu-main__username {
        display: none;
    }
}
