.comment {
    padding-left: 0;
    margin-top: 15px;
}

.comment li {
    list-style-type: none;
}

.comment .comment-author {
    color: #4c33b3;
    font-weight: 300;
}

.comment .comment-date {
    color: #9e9e9e;
    font-size: .9em;
    font-style: italic;
}

.img-user {
    float: left;
    border-radius: 50%;
	margin: 10px 10px 10px 0;
}

.comment:after {
    content: "";
    display: block;
    clear: both;
}

.comment-body {
    text-decoration: none;
    color: #000000;
}

.comment-info {
    padding-top: 5px;
}

.comment-info p {
    margin-bottom: 0;
}

.comment-info .comment-info-text {
    white-space: pre-wrap;
}

.comment-body .comment-info .comment-reply {
    border: 0;
    background: none;
    color: #c2c2c2;
    text-decoration: underline;
    font-style: italic;
    font-style: 0.5em;
    cursor: pointer;
}

.comment-body .comment-info .comment-reply:focus {
    outline: 0;
    border: 0;
}

.comment-remove {
    float: right;
    position: relative;
    top: 5px;
    transition: all .3s ease-in;
}

.comment-deleted {
    color: #c2c2c2;
}
